@using Model;
@using Model.BusinessObject;
@using Model.DataAccess;
@using System.Text.Json;
<!DOCTYPE html>
<html>

<head>
	<!-- basic -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- mobile metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1">
	<!-- site metas -->
	<title>Eflyer</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="author" content="">
	<!-- bootstrap css -->
	<link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
	<!-- style css -->
	<link rel="stylesheet" type="text/css" href="~/css/style.css">
	<link rel="stylesheet" type="text/css" href="~/css/Profile.css">
	<!-- Responsive-->
	<link rel="stylesheet" href="~/css/responsive.css">
	<!-- fevicon -->
	<link rel="icon" href="~/images/fevicon.png" type="image/gif" />
	<!-- Scrollbar Custom CSS -->
	<link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.min.css">
	<!-- Tweaks for older IEs-->
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
	<!-- fonts -->
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- font awesome -->
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!--  -->
	<!-- owl stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext" rel="stylesheet">
	<link rel="stylesheet" href="~/css/owl.carousel.min.css">
	<link rel="stylesoeet" href="~/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
</head>
<body>
	@{
		IAccountRepository accountRepository = new AccountRepository();
		int accid = int.Parse(Context.Session.GetString("accid"));
		Account a = accountRepository.GetAccount(accid);
		var mess = TempData["mess"] as string;
		if (mess != null)
		{
			<script>
				window.onload = function () {
					alert("@mess");
				}
			</script>
		}
	}
	<!-- banner bg main start -->
	<div class="banner_bg_main">
		<!-- header top section start -->
		<div class="container">
			<div class="header_section_top">
				<div class="row">
					<div class="col-sm-12">
						<div class="custom_menu">
							<ul>
								<li><a href="#">Best Sellers</a></li>
								<li><a href="#">Gift Ideas</a></li>
								<li><a href="#">New Releases</a></li>
								<li><a href="#">Today's Deals</a></li>
								<li><a href="#">Customer Service</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- header top section start -->
		<!-- logo section start -->
		<div class="logo_section">
			KD
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<div class="logo"><a href="index.html"><img src="~/images/logo.png"></a></div>
					</div>
				</div>
			</div>
		</div>
		<!-- logo section end -->
		<!-- header section start -->
		<div class="header_section">
			<div class="container">
				<div class="containt_main">
					<div id="mySidenav" class="sidenav">
						<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
						<a href="/Home/Index">Home</a>
						<a href="/Home/Order">Order</a>
						<a href="electronic.html">Electronic</a>
						<a href="jewellery.html">Jewellery</a>
					</div>
					<span class="toggle_icon" onclick="openNav()"><img src="~/images/toggle-icon.png"></span>
					<div class="dropdown">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							All Category
						</button>
						@{
							ProjectContext stock = new ProjectContext();
							List<Category> cates = stock.Categories.ToList();
						}
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							@foreach (Category c in cates)
							{
								<a class="dropdown-item" href="/Home/SearchCate?cateid=@c.CategoryId">@c.CategoryName</a>
							}
						</div>
					</div>
					<div class="main">
						<!-- Another variation with a button -->
						<div class="input-group">
							<input type="text" class="form-control" id="search" placeholder="Search this blog">
							<div class="input-group-append">
								<button class="btn btn-secondary" type="button" onclick="Search()" style="background-color: #f26522; border-color:#f26522 ">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div>
					</div>
					<div class="header_box">
						<div class="lang_box ">
							<a href="#" title="Language" class="nav-link" data-toggle="dropdown" aria-expanded="true">
								<img src="~/images/flag-uk.png" alt="flag" class="mr-2 " title="United Kingdom"> English <i class="fa fa-angle-down ml-2" aria-hidden="true"></i>
							</a>
							<div class="dropdown-menu ">
								<a href="#" class="dropdown-item">
									<img src="~/images/flag-france.png" class="mr-2" alt="flag">
									French
								</a>
							</div>
						</div>
						<div class="login_menu">
							<ul>
								@if (Context.Session.GetString("accid") == null)
								{
									<li>
										<a href="/Home/FormLogin">
											<i class="fa fa-user" aria-hidden="true"></i>
											<span class="padding_10">Login</span>
										</a>
									</li>
								}
								else
								{
									<li>
										<a href="/Home/Profile">
											<i class="fa fa-user" aria-hidden="true"></i>
											<span class="padding_10">
												@a.AccountName
											</span>
										</a>
									</li>
									<li>
										<a href="/Home/Logout">
											<i class="fa fa-sign-out" aria-hidden="true"></i>
											<span class="padding_10">Logout</span>
										</a>
									</li>
								}

							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- header section end -->
		<!-- banner section start -->
		<div class="banner_section layout_padding">
			<div class="container">
				<div id="my_slider" class="carousel slide" data-ride="carousel">
					<div class="carousel-inner">
						<div class="carousel-item active">
							<div class="row">
								<div class="col-sm-12">
									<h1 class="banner_taital">Get Start <br>Your favriot shoping</h1>
									<div class="buynow_bt"><a href="#">Buy Now</a></div>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="row">
								<div class="col-sm-12">
									<h1 class="banner_taital">Get Start <br>Your favriot shoping</h1>
									<div class="buynow_bt"><a href="/Home/Checkout">Buy Now</a></div>
								</div>
							</div>
						</div>
						<div class="carousel-item">
							<div class="row">
								<div class="col-sm-12">
									<h1 class="banner_taital">Get Start <br>Your favriot shoping</h1>
									<div class="buynow_bt"><a href="#">Buy Now</a></div>
								</div>
							</div>
						</div>
					</div>
					<a class="carousel-control-prev" href="#my_slider" role="button" data-slide="prev">
						<i class="fa fa-angle-left"></i>
					</a>
					<a class="carousel-control-next" href="#my_slider" role="button" data-slide="next">
						<i class="fa fa-angle-right"></i>
					</a>
				</div>
			</div>
		</div>
		<!-- banner section end -->
	</div>
	<!-- banner bg main end -->
	<!-- fashion section start -->
	<div class="page-content page-container" id="page-content">
		<div class="padding">
			<div class="row container d-flex justify-content-center" style="margin-left:8%;">
				<div class="col-xl-12 col-md-12" style=" margin-top:10%;">
					<div class="card user-card-full">
						<div class="row m-l-0 m-r-0">
							<div class="col-sm-4 bg-c-lite-green user-profile">
								<div class="card-block text-center text-white">
									<div class="m-b-25">
										<img src="https://img.icons8.com/bubbles/100/000000/user.png" class="img-radius" alt="User-Profile-Image">
									</div>
									<h6 class="f-w-600">@a.AccountName</h6>
									<p>Web Designer</p>
									<i class=" mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
								</div>
							</div>
							<div class="col-sm-8">
								<div class="card-block">
									<h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
									<form action="/Home/EditProfile" method="post">
										<div class="row">
											<div class="col-sm-6">
												<label for="inp" class="inp">
													<input type="text" id="inp1" value="@a.AccountName" name="name">
													<span class="label">Name</span>
													<span class="focus-bg"></span>
												</label>
											</div>
											<div class="col-sm-6">
												<label for="inp" class="inp">
													<input type="text" id="inp2" value="@a.Address" name="address">
													<span class="label">Address</span>
													<span class="focus-bg"></span>
												</label>
											</div>
										</div>

										<div class="row">
											<div class="col-sm-6">
												<label for="inp" class="inp">
													<input type="text" id="inp3" value="@a.Phone" name="phone">
													<span class="label">Phone Number</span>
													<span class="focus-bg"></span>
												</label>
											</div>
											<div class="col-sm-6">
												<label for="inp" class="inp">
													<input type="password" id="inp4" value="@a.Pass" name="pass">
													<span class="label">Password</span>
													<span class="focus-bg"></span>
												</label>
											</div>
										</div>
										<ul class="social-link list-unstyled m-t-40 m-b-10">
											<li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="facebook" data-abc="true"><i class="mdi mdi-facebook feather icon-facebook facebook" aria-hidden="true"></i></a></li>
											<li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="twitter" data-abc="true"><i class="mdi mdi-twitter feather icon-twitter twitter" aria-hidden="true"></i></a></li>
											<li><a href="#!" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="instagram" data-abc="true"><i class="mdi mdi-instagram feather icon-instagram instagram" aria-hidden="true"></i></a></li>
										</ul>
										<label for="inp" class="inp">
											<input type="submit" value="Save" />
										</label>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- electronic section end -->
	<!-- footer section start -->
	<div class="footer_section layout_padding">
		<div class="container">
			<div class="footer_logo"><a href="index.html"><img src="~/images/footer-logo.png"></a></div>
			<div class="input_bt">
				<input type="text" class="mail_bt" placeholder="Your Email" name="Your Email">
				<span class="subscribe_bt" id="basic-addon2"><a href="#">Subscribe</a></span>
			</div>
			<div class="footer_menu">
				<ul>
					<li><a href="#">Best Sellers</a></li>
					<li><a href="#">Gift Ideas</a></li>
					<li><a href="#">New Releases</a></li>
					<li><a href="#">Today's Deals</a></li>
					<li><a href="#">Customer Service</a></li>
				</ul>
			</div>
			<div class="location_main">Help Line  Number : <a href="#">+1 1800 1200 1200</a></div>
		</div>
	</div>
	<!-- footer section end -->
	<!-- copyright section start -->
	<div class="copyright_section">
		<div class="container">
			<p class="copyright_text">© 2020 All Rights Reserved. Design by <a href="https://html.design">Free html  Templates</a></p>
		</div>
	</div>
	<!-- copyright section end -->
	<!-- Javascript files-->
	<script src="~/js/jquery.min.js"></script>
	<script src="~/js/popper.min.js"></script>
	<script src="~/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/plugin.js"></script>
	<!-- sidebar -->
	<script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
	<script src="~/js/custom.js"></script>
	<script>
		function openNav() {
			document.getElementById("mySidenav").style.width = "250px";
		}

		function closeNav() {
			document.getElementById("mySidenav").style.width = "0";
		}
		function Search() {
			var search = document.getElementById("search");
			var key = search.value;
			window.location.href = "/Home/Search?key=" + key;
		}
	</script>
</body>
</html>
